html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.box {
  display: flex;
  transition: all 0.3s;
}

a {
  text-decoration: none;
}
.container {
  width: 770px;
  margin: 0 auto;
}
.menu__nav {
  border-bottom: 1px #d9d9d9 solid;
  ul {
    display: flex;
    justify-content: space-between;
    height: 79px;
    align-items: center;
    list-style: none;
    font-size: 14px;
    margin: 0 auto;
    width: 503px;
    padding: 0;
    padding-top: 5px;
    font-weight: 300;
    a {
      color: #435993;
      &:hover {
        color: #1c1c1c;
      }
    }
  }
}
.anketa {
  width: 770px;
  margin: 0 auto;
}
.anketa__title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 70px;
  font-weight: 100;
  padding-top: 116px;
}
.Ñaption {
  width: 770px;
  margin: 0 auto;
}
.caption__inner {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 130px;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 300;
  position: relative;
  &::before {
    content: "";
    width: 47px;
    height: 47px;
    position: absolute;
    top: 60px;
  }
}
.caption__inner-infoimg::before {
  content: url("../images/icon-info.svg");
}
.caption__inner-expimg::before {
  content: url("../images/icon-experience.svg");
}
.caption__inner-jsimg::before {
  content: url("../images/icon-js.svg");
}
.caption__inner-aboutimg::before {
  content: url("../images/icon-about.svg");
}

.form {
  padding-top: 8px;
}

.form-item {
  display: block;
  width: 520px;
  position: relative;
  margin: 0 auto;
  left: 3px;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 10px;
  }
}

.form-input {
  width: 100%;
  padding: 26px 0 10px;
  text-align: center;
  font-weight: 400;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  color: #1c1c1c;
  font-size: 20px;
}

.form-year {
  width: 320px;
  align-items: center;
  justify-content: center;
  margin-left: 20%;
}

.form-label {
  position: absolute;
  pointer-events: none;
  height: 60px;
  left: 0;
  right: -7px;
  top: 9px;
  text-align: center;
  font-size: 24px;
  color: #c8c8c8;
  line-height: 40px;
  transition: 0.3s;
}

.form-input:focus ~ .form-label,
.form-input:not(:focus):valid ~ .form-label {
  top: -5px;
  font-size: 14px;
  font-weight: 400;
}

.form-input:focus {
  outline: none;
  border-color: #435993;
}

.__select {
  position: relative;
  width: 320px;
  height: 60px;
  margin: 0 auto 25px;

  &[data-state="active"] {
    .__select__title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
        background-color: #435993;
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
        background-color: #435993;
      }
    }

    .__select__content {
      opacity: 1;
    }

    .__select__label + .__select__input + .__select__label {
      max-height: 300px;
      justify-content: center;
      color: #435993;
    }
  }
}
.__select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
  text-align: center;
  font-size: 24px;
  color: #c8c8c8;
  line-height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #e5e5e5;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 16px;

    display: block;
    width: 10px;
    height: 2px;
    font-size: 20px;
    transition: all 0.3s ease-out;

    background-color: #435993;

    transform: translate(-3px, -50%) rotate(45deg);
    background-color: #435993;
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
    background-color: #435993;
  }

  &:hover {
    border-color: #435993;

    &::before,
    &::after {
      background-color: #435993;
    }
  }
}

.__select__content {
  position: absolute;
  top: 62px;
  display: block;
  width: 320px;
  height: 300px;
  overflow-y: scroll;
  background-color: #ffffff;

  border: 1px solid #c7ccd1;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
  border-radius: 5px;
  opacity: 0;
  z-index: 8;
  font-size: 20px;
  line-height: 36;
  border-top: 35px solid #fff;
  border-bottom: 35px solid #fff;
}
.__select__content::-webkit-scrollbar {
  width: 7px;
  background-color: #fff;
}
.__select__content::-webkit-scrollbar-thumb {
  background-color: rgb(217, 217, 217);
  border-radius: 5px;
}
.__select__input {
  display: none;

  &:checked + label {
    background-color: none;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}
.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;

  transition: all 0.2s ease-out;

  cursor: pointer;

  overflow: hidden;

  & + input + & {
    border-top: 0 solid #c7ccd160;
  }

  &:hover {
    color: #ffffff;
    background-color: #c8c8c8;
  }
}

.deactivate {
  display: none;
  z-index: 0;
}

.activate {
  z-index: 8;
}

.single-font {
  color: #1c1c1c;
}
.check__inner {
  justify-content: space-between;
  margin-bottom: 69px;
}

.checkboxexp {
  display: inline-block;
  width: 210px;
  margin-right: 65px;
  &:nth-child(3n) {
    margin-right: 0;
    width: 200px;
  }
  input {
    position: absolute;
    opacity: 0;
  }

  label {
    position: relative;
    font-size: 16px;
    line-height: 35px;
    font-weight: 300;
    padding-left: 12px;
  }
  .label-before::before {
    content: "";
    position: relative;
    right: 12px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border: 1px solid rgb(67, 89, 147);
    border-radius: 3px;
    display: inline-block;
  }
  .label-before:hover::before {
    background-color: #e9efff;
  }
  .checkboxexpi:checked + label::before {
    background-image: url(../images/active.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #435993;
  }
}


.experience {
  --level: 2;
  position: relative;
  min-width: 350px;
  width: 98%;
  box-sizing: border-box;
}

.labels {
  position: relative;
  top: 0;
  left: 11px;
  display: flex;
  width: calc(100% - 22px);
}

.labels > div {
  position: relative;
  display: inline-grid;
  width: 25%;
  font-size: 13px;
  align-items: self-end;
}

.labels > div::after {
  content: "";
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  height: 21px;
  border-left: 1px dotted #b7b7b7;
}

.labels > div:last-child {
  text-align: right;
}

.labels > div:last-child::after {
  left: calc(100% - 2px);
}

.progress {
  position: relative;
  top: 0;
  left: 11px;
  height: 25px;
  width: calc(100% - 22px);
  overflow: hidden;
  box-sizing: border-box;
}

.progress::before,
.progress::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 150%;
  width: 100%;
  background-repeat: no-repeat;
  transform-origin: top left;
}

.progress::before {
  background-image: linear-gradient(90deg, #ccb1f1, #221d8c);
  background-position: 25% 0%, 50% 0%, 0% 0%;
  background-size: auto;
  transform: skewY(-0.8deg) translatey(22px);
}

.progress::after {
  background-image: linear-gradient(90deg, transparent, #fff, #fff, transparent),
    linear-gradient(90deg, transparent, #fff, #fff, transparent),
    linear-gradient(
      90deg,
      transparent calc(var(--level) * 25%),
      #e8e8e8 calc(var(--level) * 25%)
    );
  background-position: 25% 0%, 50% 0%, 0% 0%;
  background-size: 1px 200%, 1px 200%, auto;
  transform: skewY(-0.8deg) translatey(21px);
}

.experience input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: none;
  pointer-events: none;
  outline: none;
}

.experience input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
}
.experience input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  appearance: none;
}

.experience input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 22px;
  width: 22px;
  transform: translatey(30px) rotate(-45deg);
  border-radius: 50% 10% 50% 50%;
  border: 1px solid #b5b5b5;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: auto;
}
.experience input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  height: 22px;
  width: 22px;
  transform: translatey(30px) rotate(-45deg);
  border-radius: 50% 10% 50% 50%;
  border: 1px solid #b5b5b5;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: auto;
}

.caption__inner-aboutimg {
  margin-top: 50px;
}

.vac-about__inner {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.textarea__div {
  display: flex;
  align-items: center;
  justify-content: center;
  textarea {
    width: 520px;
    height: 180px;
    resize: none;
    padding: 23px 20px;
    font-size: 20px;
    font-weight: 500;
    border-style: solid;
  border-width: 1px;
  border-color: rgb(229, 229, 229);
  border-radius: 5px;
  &::placeholder {
  color: #c8c8c8;
  &:active {
    border-color: rgb(67, 89, 147);
  }
  }
  }
  
}




.knopochka {
  display: flex;
  align-items: center;
  justify-content: center;
}


.knopka {
  border: none;
  border-radius: 10px;
  background-color: #435993;
  width: 115px;
  height: 50px;
  color: #fff;
  box-shadow:none;
  margin: 70px auto;
}

